.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #13a538 !important;
  border-color: #13a538 !important;
}

.custom-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #eaeff4 !important;
}
