@import "tailwindcss";

@font-face {
  font-family: "PopReg";
  src: url("../public/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PopBold";
  src: url("../public/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PopMed";
  src: url("../public/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PopThin";
  src: url("../public/fonts/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "PopSemi";
  src: url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@theme {
  --color-bg: #13a538;
  --color-whiteThirty: #ffffff4d;
  --color-mainText: #2a3547;
  --color-borderGray: #eaeff4;
  --color-textGray: #969696;
  --color-textGray2: #6e6e6e;
  --color-textGray3: #474747;
  --color-grayBg: #f3f3f3;
  --color-lightGreen: #dcf6e2;
  --color-textGray4: #ecdffb;
  --color-paleYellow: #fff9f1;
  --color-yellow: #ffa41b;
  --color-borderGray2: #e0e0e0;
  --color-paleGreen: #ffffff4d;
  --color-paleGreen2: #13683c17;
  --color-paleGreen3: #eef2f5;
  --color-paleRed: #f5eeee;
  --color-darkerGreen: #0c7d29;
  --color-grayBg2: #ebf2ed99;
  --color-danger: #cf0000;
  --color-red: #ff4440;
  --color-blue: #5a6a85;
  --color-lightGreen: #e9ffee;
  --color-lightBlue: #ebf3fe;
  --font-popreg: PopReg, sans-serif;
  --font-popb: PopBold, sans-serif;
  --font-popm: PopMed, sans-serif;
  --font-popt: PopThin, sans-serif;
  --font-popsemi: PopSemi, sans-serif;
  --font-inter: Inter, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.ant-modal-content {
  border-radius: 18px !important;
}
